<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static\css\styles.css" />
    <title>Login</title>
</head>
<body>
<div class="login">
    <img src="../../static\images\background 1.png" alt="login image" class="login__img" />

    <form action="" class="login__form">
        <img src="../../static\images\pdfhub 6.png" alt="Logo" class="login__logo" />

        <div class="login__content">
            <div class="login__box">
                <i class="ri-user-3-line login__icon"></i>

                <div class="login__box-input">
                    <input
                            type="email"
                            required
                            class="login__input"
                            id="login-email"
                            placeholder=" "
                    />
                    <label for="login-email" class="login__label">Email</label>
                </div>
            </div>

            <div class="login__box">
                <i class="ri-lock-2-line login__icon"></i>

                <div class="login__box-input">
                    <input
                            type="password"
                            required
                            class="login__input"
                            id="login-pass"
                            placeholder=" "
                    />
                    <label for="login-pass" class="login__label">Password</label>
                </div>
            </div>
        </div>

        <div class="login__check">
            <div class="login__check-group">
                <input
                        type="checkbox"
                        class="login__check-input"
                        id="login-check"
                />
                <label for="login-check" class="login__check-label"
                >Luôn nhớ tôi</label
                >
            </div>
        </div>

        <button type="button" class="login__button" onclick="login()">Đăng Nhập</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="module" src="../../static/js/Admin/login.js"></script>
</body>
</html>
