<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí tài khoản cá nhân</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>
    <script src="../../static/js/User/form.js"></script>
    
    <link rel="stylesheet" href="../../static/css/userManage.css">
    <link rel="stylesheet" href="../../static/css/form.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="contain">
        <div id="sidebar-placeholder">
        </div>
        <div class="main-content">
            <div class="thumnail3">
                <div class="thumnail-cap">Quản lí tài khoản cá nhân</div>
            </div>
            <div class="accInfo1">
                <form class="changeAvatar">
                    <div class="form-group1">
                        <label>Ảnh hồ sơ</label>
                        <div id="ava">
                            <img src="../../static/images/icons/avatar.png" alt="">
                        </div>
                        <div id="ava">
                            <label for="changeAvatar" id="alter-file2">Thay đổi hình ảnh</label>
                            <input type="file" name="changeAvatar" id="changeAvatar" style="display: none;" onchange="updateFileName2()">
                        </div>
                        <div class="submit">
                            <input type="submit" value="Lưu" id="changeAvatarSubmit" style="display: none; margin-top: 10px;">
                        </div>
                        <div id="fileName"></div>
                    </div>
                </form>

                <div class="group" id="acc">
                    <form class="form-group1" id="infoChange">
                        <div class="form-group2">
                            <div class="label">Thông tin người dùng</div>
                            <a onclick="ChangeInfo()">Thay đổi</a>
                            <a onclick="ConfirmChangeInfo()" style="display: none;">Lưu</a>
                        </div>
                        <div class="ChangeTitle" style="display: none;">Thay đổi trực tiếp các thông tin cần thiết ngay bên dưới</div>
                        <div class="form-group2" id="read-class">
                            <div class="static">Họ và tên</div>
                            <input class="read" value="Nguyễn Văn A" id="fullname" readonly>
                        </div>
                        <div class="error"></div>
                        <div class="form-group2" id="read-class">
                            <div class="static">Giới tính</div>
                            <input class="read" value="Nam" id="gender" readonly>
                        </div>
                        <div class="error"></div>
                        <div class="form-group2" id="read-class">
                            <div class="static">Sinh nhật</div>
                            <input class="read" value="22/10/2001" id="birthday" readonly>
                        </div>
                        <div class="error"></div>
                    </form>

                    <div class="form-group1" id="mailAndPass">
                        <div class="form-group2">
                            <div class="label">Thông tin tài khoản</div>
                        </div>
                        <div class="ChangeTitle" style="display: none;">Thay đổi trực tiếp mật khẩu ngay bên dưới</div>
                        <div class="form-group2" id="read-class">
                            <div class="static">Email</div>
                            <div class="read" id="mail">nguyenvana@gmail.com</div>
                        </div>
                        <form class="form-group2" id="read-class passChange">
                            <div class="static">Mật khẩu</div>
                            <input type="password" class="read" id="pass" value="aaaaaa" readonly>
                            <a onclick="openOTPPopup()">Thay đổi</a>
                            <a onclick="ConfirmChangePass()" style="display: none;">Lưu</a>
                        </form>
                        <div class="error"></div>
                    </div>
                </div>

                <div id="overlay" style="display: none;"></div>
                <div id="otp-popup" style="display: none">
                    <div class="popup-header">
                        <h3>Đăng ký</h3>
                        <button class="close-btn" onclick="closeOTPPopup()">×</button>
                    </div>
                    <form class="form-group1" id="inputOTP" onsubmit="">

                        <div id="OTP-title">
                            Nhập mã OTP vừa được gửi về mail của bạn:
                        </div>
                        <input type="text" id="OTP" placeholder="">
                        <div class="error" style="text-align: center"></div>
                        <input type="submit" value="Xác nhận" id="OTP-submit">
                        <div id="otp-resend">Bạn không nhận được email? <a>Gửi lại</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>