<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chính</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="\webchiasetailieu\src\main\resources\static\js\User\docs.js"></script>

    <script defer src="../../static/js/User/include.js"></script>

    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
</head>
<body>
<!-- Include header -->
<!--<div th:replace="header :: header"></div>-->
<div id="header-placeholder"></div>

<!-- Nội dung chính -->
<div class="main-content">
    <div th:if="${isLoggedIn}" class="docCategories">
        <a class="docCate" href="index.html">Đề xuất</a>
        <a class="docCate active" href="allCategories.html">Tất cả</a>
        <script>
            fetchAllSubCategories();
        </script>
    </div>

    <div class="thumnail3" id="thumnail4">
        <div class="thumnail-cap">Khám phá tất cả tài liệu có trên <img src="../../static/images/pdfhub.png" alt=""></div>
    </div>

    <div class="cate">
        <div class="bigTitle">Tất cả danh mục</div>
        <div class="cate-box">
            <script>
                fetchAllCategory();
            </script>
        </div>
    </div>
</div>

<div id="footer-placeholder"></div>
</body>
</html>




