<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chính</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="../../static/js/User/docs.js"></script>

    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/form.css">

    <!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
</head>
<body>
<!-- Include header -->
<!--<div th:replace="header :: header"></div>-->
<div id="header-placeholder"></div>

<!-- Nội dung chính -->
<div class="main-content">
    <div class="docCategories">
        <a class="docCate" href="index.html">Đề xuất</a>
        <script>
            fetchAllSubCategories();
        </script>
    </div>

    <div class="thumnail3">
        <div class="thumnail-cap">Khám phá tài liệu <div class="thumnail-title">Đề xuất</div></div>
    </div>

    <div class="recommend">
        <!--        <div class="form-group2" id="filter">-->
        <!--            <div class="form-group2" id="filter1">-->
        <!--                <label>Loại tài liệu</label>-->
        <!--                <select name="fileType" id="fileType">-->
        <!--                    <option value="Tất cả">Tất cả</option>-->
        <!--                    <option value="pdf">.pdf</option>-->
        <!--                    <option value="docx">.docx</option>-->
        <!--                </select>-->
        <!--            </div>-->
        <!--            <div class="form-group2" id="filter1">-->
        <!--                <label>Sắp xếp</label>-->
        <!--                <select name="fileType" id="fileType">-->
        <!--                    <option value="Ngày đăng tăng">Ngày đăng tăng</option>-->
        <!--                    <option value="Lượt tải tăng">Lượt tải tăng</option>-->
        <!--                    <option value="Ngày đăng tăng">Ngày đăng giảm</option>-->
        <!--                    <option value="Lượt tải tăng">Lượt tải giảm</option>-->
        <!--                </select>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="Docs-group" style="margin-top: 20px">
            <div class="no-results">
                <img src="../../static/images/icons/Box-Important.png">
                <div>Không tìm thấy tài liệu phù hợp</div>`
            </div>
            <script>
                // Lấy URL hiện tại
                const urlParams = new URLSearchParams(window.location.search);

                // Gán giá trị của 'tab' vào biến nếu nó tồn tại, nếu không thì gán giá trị mặc định
                const tab = urlParams.get('tab') || 'defaultTab';
                fetchDocument(tab);
            </script>
        </div>
    </div>
</div>

<div id="footer-placeholder"></div>
</body>
</html>




