<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chính</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>

    <script src="../../static/js/User/docs.js"></script>
    <script src="../../static/js/User/readPdf.js"></script>

    <link rel="icon" href="../../static/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/form.css">
    <link rel="stylesheet" href="../../static/css/details.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

</head>
<body>
<div id="header-placeholder"></div>

<div class="main-content">
    <div class="main-part">
        <div class="docsInfo-part">
            <script>
                // Lấy URL hiện tại
                const urlParams = new URLSearchParams(window.location.search);

                // Gán giá trị của 'tab' vào biến nếu nó tồn tại, nếu không thì gán giá trị mặc định
                const tab = urlParams.get('docId');
                fetchDetailsDocument(tab);
            </script>
        </div>


<!--        <div class="docsInfo-part">-->
<!--            <div class="Info-part">-->
<!--                <div class="DocTitle">-->
<!--                    Toán rời rạc - ĐH Giao Thông vận tải TPHCM-->
<!--                </div>-->
<!--                <div class="UserAndCategory">-->
<!--                    <div class="form-group2 admin">-->
<!--                        <img src="../../static/images/icons/avatar.png" alt="">-->
<!--                        <div class="gray" id="userName">Nguyễn Văn Tèo</div>-->
<!--                        <div class="role">Tác giả</div>-->
<!--                    </div>-->
<!--                    <div class="form-group2 Category">-->
<!--                        <div class="gray">Thể loại</div>-->
<!--                        <a>Toán rời rạc</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="caption">-->
<!--                    Tài liệu Toán rời rạc của Đại học giao thông vận tải TPHCM K22, giảng viên: Đại ca Long. Tài liệu của khoa bla bla bla...-->
<!--                     My best friend, Linh, is a person who possesses many admirable qualities. She is not only kind and caring but also-->
<!--                    incredibly intelligent. She has a radiant smile that can light up the darkest room and a sense of humor that never fails-->
<!--                    to make me laugh. Linh is an avid reader and a talented writer. We share a love for books and often spend hours discussing-->
<!--                    our favorite authors and stories. She is a loyal friend who always stands by my side, and I am grateful to have her in my-->
<!--                    life.  (copy đại để minh họa)-->
<!--                </div>-->
<!--                <div class="moreInfo">-->
<!--                    <div class="form-group2">-->
<!--                        <img src="../../static/images/icons/Clock.png" alt="">-->
<!--                        <div class="pink" id="uptime">9PM 02/09/2024</div>-->
<!--                    </div>-->
<!--                    <div class="num">-->
<!--                        <div class="form-group2">-->
<!--                            <img src="../../static/images/icons/QuotePink.png" alt="">-->
<!--                            <div class="pink"><div id="numComment">3</div>bình luận</div>-->
<!--                        </div>-->
<!--                        <div class="form-group2">-->
<!--                            <img src="../../static/images/icons/Downloading Updates.png" alt="">-->
<!--                            <div class="pink"><div id="numDownLoads">3000</div>lượt tải</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="Info-part">-->
            <!-- The content will be dynamically inserted here by fetchDetailsDocument() -->
<!--            </div>-->

<!--                <div class="comment-part">-->
<!--                    <div class="form-group1">-->
<!--                        <div class="form-group1">-->
<!--                            <label for="">Bình luận</label>-->
<!--                            <textarea name="comment" id="upcomment" placeholder="Để lại bình luận của bạn..."></textarea>-->
<!--                        </div>-->
<!--                        <div class="form-group1" id="comment-class" data-comment-id="${comment.id}">-->
<!--                            <div class="form-group2">-->
<!--                                <img id="cmt-ava" src="../../static/images/icons/avatar.png" alt="">-->
<!--                                <div class="gray" id="nameUserComment">Bé Hươu Cô Đơn</div>-->
<!--                            </div>-->
<!--                            <div id="cmtAndTime">-->
<!--                                <div class="cmt-content">Ước mơ được làm siêu nhân, làm siêu nhân, làm siêu nhân</div>-->
<!--                                <div class="comment-actions">-->
<!--                                <button-->
<!--                                        class="edit-button-comment"-->
<!--                                        onclick="openEditCommentPopup()"-->
<!--                                >-->
<!--                                    <img src="../../static/images/bxs-edit.svg" alt="Edit" />-->
<!--                                </button>-->
<!--                                <button-->
<!--                                        class="delete-button-comment"-->
<!--                                        onclick="openDeleteCommentPopup()"-->
<!--                                        >-->
<!--                                    <img src="../../static/images/icons/delete-svgrepo-com.svg" alt="Delete" />-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group2">-->
<!--                        <img id="cmt-icon" src="../../static/images/icons/Clock black.png" alt="">-->
<!--                        <div class="black" id="cmt-time">9PM 22/10/2024</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        <div class="comment-container">
            <div class="comment-part">
                <div class="form-group1">
                    <label>Bình luận</label>
                    <textarea name="comment" id="upcomment" placeholder="Để lại bình luận của bạn..."></textarea>

                </div>
                <button id="submitComment" class="btn-submit">Gửi bình luận</button> <!-- Thêm nút gửi bình luận -->
                <div id="comments-container">
                    <!-- Comments will be dynamically inserted here -->
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="recommend-part">
        <div class="recommend">
            <div class="Group-title">Truyện hay cho bé</div>
            <div class="Docs-group">
                <a href="docsDetail.html" class="Docs">
                    <img src="../../static/images/Documents/sachHoa.jpg" alt="">
                    <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                    <div class="docInfor">
                        <div class="uptime">
                            <img src="../../static/images/icons/Clock.png" alt="">
                            <div id="time">9PM 22/12/2023</div>
                        </div>
                        <div class="downtime">
                            <img src="../../static/images/icons/Downloading Updates.png" alt="">
                            <div id="down">20K</div>
                        </div>
                        <div class="price">
                            <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                            <div id="docPrice">30</div>
                        </div>
                    </div>
                </a>
                <a href="docsDetail.html" class="Docs">
                    <img src="../../static/images/Documents/sachHoa.jpg" alt="">
                    <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                    <div class="docInfor">
                        <div class="uptime">
                            <img src="../../static/images/icons/Clock.png" alt="">
                            <div id="time">9PM 22/12/2023</div>
                        </div>
                        <div class="downtime">
                            <img src="../../static/images/icons/Downloading Updates.png" alt="">
                            <div id="down">20K</div>
                        </div>
                        <div class="price">
                            <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                            <div id="docPrice">30</div>
                        </div>
                    </div>
                </a>
                <a href="docsDetail.html" class="Docs">
                    <img src="../../static/images/Documents/sachHoa.jpg" alt="">
                    <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                    <div class="docInfor">
                        <div class="uptime">
                            <img src="../../static/images/icons/Clock.png" alt="">
                            <div id="time">9PM 22/12/2023</div>
                        </div>
                        <div class="downtime">
                            <img src="../../static/images/icons/Downloading Updates.png" alt="">
                            <div id="down">20K</div>
                        </div>
                        <div class="price">
                            <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                            <div id="docPrice">30</div>
                        </div>
                    </div>
                </a>
                <a href="docsDetail.html" class="Docs">
                    <img src="../../static/images/Documents/sachHoa.jpg" alt="">
                    <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                    <div class="docInfor">
                        <div class="uptime">
                            <img src="../../static/images/icons/Clock.png" alt="">
                            <div id="time">9PM 22/12/2023</div>
                        </div>
                        <div class="downtime">
                            <img src="../../static/images/icons/Downloading Updates.png" alt="">
                            <div id="down">20K</div>
                        </div>
                        <div class="price">
                            <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                            <div id="docPrice">30</div>
                        </div>
                    </div>
                </a>
                <a href="docsDetail.html" class="Docs">
                    <img src="../../static/images/Documents/sachHoa.jpg" alt="">
                    <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                    <div class="docInfor">
                        <div class="uptime">
                            <img src="../../static/images/icons/Clock.png" alt="">
                            <div id="time">9PM 22/12/2023</div>
                        </div>
                        <div class="downtime">
                            <img src="../../static/images/icons/Downloading Updates.png" alt="">
                            <div id="down">20K</div>
                        </div>
                        <div class="price">
                            <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                            <div id="docPrice">30</div>
                        </div>
                    </div>
                </a>
                <a href="docsDetail.html" class="Docs">
                    <img src="../../static/images/Documents/sachHoa.jpg" alt="">
                    <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                    <div class="docInfor">
                        <div class="uptime">
                            <img src="../../static/images/icons/Clock.png" alt="">
                            <div id="time">9PM 22/12/2023</div>
                        </div>
                        <div class="downtime">
                            <img src="../../static/images/icons/Downloading Updates.png" alt="">
                            <div id="down">20K</div>
                        </div>
                        <div class="price">
                            <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                            <div id="docPrice">30</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="overlay" style="display: none;"></div>
<div id="report-popup" style="display: none;">
    <div class="popup-header">
        <h3>Mẫu báo cáo vi phạm</h3>
        <button class="close-btn" onclick="closeReportPopup()">×</button>
    </div>
    <form  name="report" id="report-form" class="form-group1"  >
        <div class="form-group2">
            <label>Loại vi phạm</label>
            <input style="width: 200px; flex-grow: 0" readonly value="Báo cáo tài liệu" class="read">

        </div>
        <div class="error"></div>

        <div class="form-group1">
            <label for="description">Mô tả cụ thể</label>
            <textarea id="description" placeholder="Viết mô tả cụ thể ở đây..."></textarea>
        </div>

        <div class="modal-actions">

            <input type="submit" class="btn btn-primary"style="width: 100%;"></input>
        </div>

    </form>
</div>
<div id="footer-placeholder"></div>
<script src="../../static/js/User/comments.js"></script>
<script type="module" src="../../static/js/User/feedbacks.js"></script>
<script type="module">
    import {fetchCommentsForDocument} from "../../static/js/User/comments.js";
    fetchCommentsForDocument();
</script>
</body>
</html>
