<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử tải xuống</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>
    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/userManage.css">

</head>
<body>
    <div id="header-placeholder"></div>
    <div class="contain">
        <div id="sidebar-placeholder">
        </div>
        <div class="main-content">
            <div class="thumnail3">
                <div class="thumnail-cap">Lịch sử tải xuống</div>
            </div>
            <div class="recommend">
                <div class="Group-title1">18/10/2024</div>
                <div class="Docs-group">
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Group-title1">24/10/2024</div>
                <div class="Docs-group">
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                    <a href="docsDetail.html" class="Docs">
                        <img src="../../static/images/sachHoa.jpg" alt="">
                        <div class="docTitle">Hóa học bổ túc đúc cấp 1</div>
                        <div class="docInfor">
                            <div class="uptime">
                                <img src="../../static/images/icons/Clock.png" alt="">
                                <div id="time">9PM 22/12/2023</div>
                            </div>
                            <div class="downtime">
                                <img src="../../static/images/icons/Downloading Updates.png" alt="">
                                <div id="down">20K</div>
                            </div>
                            <div class="price">
                                <img src="../../static/images/icons/icons8-coin-32.png" alt="">
                                <div id="docPrice">30</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>