<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/headerFooter.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
</head>
<footer th:fragment="footer">
    <div class="foot">
       <div class="logogroup"> <img src="../../static/images/sos2png.png" alt="logoGroup"></div>
        <div class="more-info">
            <div class="info">
                <div class="footer-title">THÔNG TIN LIÊN HỆ</div>
                <a><img src="../../static/images/icons/icons8-gmail-48.png" alt="Email">SOS@gmail.com</a>
                <a><img src="../../static/images/icons/icons8-facebook-48.png" alt="Facebook">SOSGROUP</a>
            </div>
            <div class="user-help">
                <div class="footer-title">HỖ TRỢ NGƯỜI DÙNG</div>
                <a>Hướng dẫn nạp điểm</a>
                <a>Câu hỏi thường gặp</a>
            </div>
            <div class="policy">
                <div class="footer-title">CHÍNH SÁCH VÀ QUY ĐỊNH</div>
                <a>Điều khoản bảo mật</a>
                <a>Quy tắc cộng đồng</a>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright © 2024 SOSGROUP. Designed by SOSGROUP</div>
</footer>