<!-- header.html -->
<head>
    <meta charset="UTF-8">
    <!-- Đường dẫn đến CSS -->
<!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
    <link rel="stylesheet" href="../../static/css/headerFooter.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    <script defer src="../../static/js/User/header.js"></script>
</head>
<header th:fragment="header">
    <!-- Đường dẫn đến hình ảnh -->
<!--    <img class="logo" th:src="@{/images/pdfhub.png}" alt="Logo PDF Hub">-->
    <a class="logo-contain" href="index.html"><img class="logo" src="../../static/images/pdfhub.png" alt="Logo PDF Hub"></a>
    <nav>
        <div class="group1">
            <a href="allCategories.html">Danh mục</a>
            <a href="intro.html">Giới thiệu</a>
        </div>
        <div class="group2">
            <form class="search-bar" onsubmit="searchRedirect(event)">
                <input type="text" id="search-input" placeholder="Tìm kiếm...">
                <button><img src="../../static/images/icons/search.png" alt="Tìm kiếm"></button>
            </form>
            <!-- <a th:if="${!isLoggedIn}" class="register-button" href="register.html">Đăng ký</a>
            <a th:if="${!isLoggedIn}" class="login-button" href="login.html">Đăng nhập</a> -->
            <button th:if="${isLoggedIn}" class="noti-button"><img src="../../static/images/icons/bell.png" alt=""><div>Thông báo</div></button>
            <button th:if="${isLoggedIn}" class="menu-button"><img id="avatar" src="../../static/images/icons/avatar.png"></button>
            <div></div>
        </div>
    </nav>
</header>
<button id="overlay" style="display: none;"></button>
<div id="popup-menu" style="display: none;"></div>
<div id="popup-noti" style="display: none;"></div>
