<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chính</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script type="module" defer src="../../static/js/User/include.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="..\..\static\js\User\docs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>

    <link rel="icon" href="../../static/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
</head>
<body>
<!-- Include header -->
<!--<div th:replace="header :: header"></div>-->
<div id="header-placeholder"></div>

<!-- Nội dung chính -->
<div class="main-content">
    <!-- <div th:if="${!isLoggedIn}" class="thumnail">
        <h2>Tài liệu hay, ý tưởng hấp dẫn</h2>
        <p>Nơi đồng hành cùng bạn tạo ra các sản phẩm xinh đẹp tuyệt vời!</p>
        <a href='register.html' class="register-button1">Tham gia miễn phí ngay!</a>
    </div> -->
    <div class="docCategories">
        <a class="docCate active" href="index.html">Đề xuất</a>
        <script>
            fetchAllSubCategories();
        </script>
    </div>
    <div class="thumnail" id="thumnail2">
        <h2>Cùng đóng góp cho cộng đồng!</h2>
        <p>Chia sẻ các tài liệu của bạn, nhận xu thưởng và tải các tài liệu quý giá!</p>
        <a href='upload.html' class="register-button1">Đăng tải tài liệu mới ngay!</a>
    </div>

    <div class="recommend">
        <div class="Group-title">Tài liệu lớp 3</div>
        <div class="Docs-group">
            <div class="no-results">
                <img src="../../static/images/icons/Box-Important.png">
                <div>Không tìm thấy tài liệu phù hợp</div>`
            </div>

        </div>

        <div class="Group-title">Tài liệu lớp 4</div>
        <div class="Docs-group">

        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetchDocument("Lớp 3",0);
        fetchDocument("Lớp 4",1);
    });

</script>

<div id="footer-placeholder"></div>
</body>
</html>




