<!--siuuuuu-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    <link rel="stylesheet" href="../../static/css/loginRegister.css">
    <link rel="stylesheet" href="../../static/css/form.css">
</head>
<body>
<div class="center-box">
    <div class="logoContain">
        <img src="../../static/images/pdfhub.png" alt="">
        <div class="formname">Login</div>
    </div>
    <form action="" id="login" class="login">
        <div class="form-group2">
            <label for="login-email" class="static">Email</label>
            <input type="email" id="login-email" name="email" required
                   placeholder="Nhập địa chỉ email">
        </div>
        <div class="error"></div>
        <div class="form-group2">
            <label for="login-pass" class="static">Mật khẩu</label>
            <input type="password" id="login-pass" name="password" required
                   placeholder="Nhập mật khẩu">
        </div>
        <div class="group1">
            <label for="rememberme"> <input type="checkbox" name="" id="rememberme">Ghi nhớ đăng nhập</label>
            <a href="forgotPassword.html">Quên mật khẩu?</a>
        </div>

        <input type="submit" name="" id="" value="Đăng nhập">
        <a href="register.html" class="redirect" id="redirect-register">Chưa có tài khoản? Đăng ký</a>
    </form>
</div>

<div id="success-popup" style="display: none">

    <div class="welcome">
        <div class="success-icon">
            <div class="circle"></div>
            <div class="checkmark"></div>
        </div>
        <div class="welcome-title">Đăng nhập lần đầu!</div>
        <div class="welcome-text">Chào mừng bạn đã đến với thế giới tài liệu
        </div>
        <div class="submit">
            <button onclick="nextFrame()">Tiếp theo</button>
        </div>
    </div>


    <form id="info-form" class="form-group1" onsubmit="createPerInfo(event)" style="display: none">
        <div class="form-btitle">Trước khi bắt đầu, chúng tôi cần 1 vài thông tin của bạn!</div>
        <div class="form-stitle">Vui lòng cho biết:</div>
        <div class="form-group1" style="margin: 0px 100px; border: 1px solid gainsboro; padding: 15px; border-radius: 10px">
            <div class="form-group2">
                <label class="static">Tên tài khoản</label>
                <input type="text" id="fname">
            </div>
            <div class="error"></div>

            <div class="form-group2">
                <label class="static">Giới tính</label>
                <select id="gender">
                    <option>Chọn giới tính</option>
                    <option value="Male">Nam</option>
                    <option value="Female">Nữ</option>
                </select>
            </div>
            <div class="error"></div>

            <div class="form-group2">
                <label class="static">Ngày sinh</label>
                <input type="date" id="birthday">
            </div>
            <div class="error"></div>
            <input type="submit" value="Xác nhận">
        </div>

    </form>
</div>
<!-- Required Scripts -->
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="module" src="../../static/js/User/login.js"></script>
</body>
</html>
