<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo cáo vấn đề</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>
    <link rel="stylesheet" href="../../static/css/form.css">
    <link rel="stylesheet" href="../../static/css/userManage.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="contain">
        <div id="sidebar-placeholder">
        </div>
        <div class="main-content">
            <div class="thumnail3">
                <div class="thumnail-cap">Báo cáo vấn đề</div>
            </div>

            <form action="" name="problemReport" id="problemForm">
                <div class="form-group2">
                    <label >Loại vấn đề</label>
                    <input style="width: 200px; flex-grow: 0" readonly value="Báo cáo vấn đề" class="read">
                </div>
                <div class="form-group1">
                    <label >Mô tả</label>
                    <textarea name="problemDes" id="problemDes" placeholder="Viết mô tả cụ thể ở đây..."></textarea>
                </div>


            <div class="submit">
                <input type="submit" value="Xác nhận gửi báo cáo">
            </div>
            </form>
        </div>
    </div>
<script type="module" src="../../static/js/User/problemReport.js"></script>
</body>
</html>