<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    <link rel="stylesheet" href="../../static/css/loginRegister.css">
    <link rel="stylesheet" href="../../static/css/form.css">
</head>
<body>
<div class="center-box">
    <div class="logoContain">
        <img src="../../static/images/pdfhub.png" alt="">
        <div class="formname">register</div>
    </div>
    <form action="" id="register">
        <div class="form-group2">
            <label for="" class="static">Email xác nhận</label>
            <input type="text" id="mail">
        </div>
        <div class="error"></div>
        <div class="form-group2">
            <label for="" class="static">Họ và tên</label>
            <input type="text" id="name">
        </div>
        <div class="error"></div>
        <div class="form-group2">
            <label for="" class="static">Mật khẩu</label>
            <input type="text" id="npass">
        </div>
        <a href="login.html" class="redirect" id="redirect-login">Đã có tài khoản? Đăng nhập</a>

        <input type="submit" name="" id="" value="Tiếp theo">

    </form>
</div>

</body>
</html>
