<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử báo cáo</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>
    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/userManage.css">
    <link rel="stylesheet" href="../../static/css/form.css">
    <link rel="stylesheet" href="../../static/css/report.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="contain">
        <div id="sidebar-placeholder">
        </div>
        <div class="main-content">
            <div class="thumnail3">
                <div class="thumnail-cap">Xem báo cáo</div>
            </div>

            <div action="" name="problemReport" id="problemForm">
                <div class="group">
                    <div class="form-group2">
                        <label>Loại báo cáo</label>
                        <input type="text" class="read"  readonly>
                    </div>
                    <div class="form-group2">
                        <label>Ngày gửi</label>
                        <input type="text" class="read" readonly>
                    </div>
                </div>
                <div class="form-group2">
                    <label>Tài liệu bị báo cáo</label>
                    <input class="DocsLink" readonly ></input>
                </div>
                <div class="form-group1">
                    <label>Mô tả</label>
                    <textarea class="read" id="problemDes" readonly></textarea>
                </div>

                <hr style="color: black; margin-right: 30px; margin-bottom: 10px">

                <div></div>

                <div class="form-group1">
                    <label>Phản hồi từ Admin</label>
                    <textarea class="read" id="reply" readonly style="height: 100px"></textarea>
                </div>

            </div>
        </div>
    </div>
<script type="module" src="../../static/js/User/reportDetails.js"></script>
<script type="module">
    import {fetchreportDetails} from "../../static/js/User/reportDetails.js";
    fetchreportDetails();
</script>
</body>
</html>