<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử báo cáo</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>
    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/userManage.css">
    <link rel="stylesheet" href="../../static/css/report.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="contain">
        <div id="sidebar-placeholder">
        </div>
        <div class="main-content">
            <div class="thumnail3">
                <div class="thumnail-cap">Báo cáo vấn đề</div>
            </div>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width: 40px;">ID</th>
                            <th style="min-width: 120px;">Loại báo cáo</th>
<!--                            <th style="min-width: 120px;">Loại vấn đề</th>-->
                            <th style="min-width: 250px;">Nội dung</th>
                            <th style="min-width: 60px;">Thời gian</th>
                            <th style="min-width: 120px;">Tình trạng</th>
                            <th style="min-width: 110px;">Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Loại 1</td>-->
<!--                            <td>Vấn đề 1</td>-->
<!--                            <td>Nội dung 1</td>-->
<!--                            <td>2021-05-01</td>-->
<!--                            <td>Đã xử lý</td>-->
<!--                            <td><a href="reportDetail.html">Xem chi tiết</a></td>-->
<!--                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script type="module" src="../../static/js/User/reportManage.js"></script>
<script type="module">
    import {fetchMyReports} from "../../static/js/User/reportManage.js";
    fetchMyReports();
</script>
</body>
</html>