<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử báo cáo</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script defer src="../../static/js/User/include.js"></script>
    <link rel="stylesheet" href="../../static/css/docs.css">
    <link rel="stylesheet" href="../../static/css/userManage.css">
    <link rel="stylesheet" href="../../static/css/form.css">
    <link rel="stylesheet" href="../../static/css/report.css">

</head>
<body>
    <div id="header-placeholder"></div>
    <div class="contain">
        <div id="sidebar-placeholder">
        </div>
        <div class="main-content">
            <div class="thumnail3">
                <div class="thumnail-cap">Xem báo cáo</div>
            </div>

            <div action="" name="problemReport" id="problemForm">
                <div class="group">
                    <div class="form-group2">
                        <label>Loại báo cáo</label>
                        <input type="text" class="read" value="Báo cáo tài liệu" readonly>
                    </div>
                    <div class="form-group2">
                        <label>Ngày gửi</label>
                        <input type="text" class="read" value="20/10/2024" readonly>
                    </div>
                </div>
                <div class="form-group2">
                    <label>Tài liệu bị báo cáo</label>
                    <a class="DocsLink">Toán 3</a>
                </div>
                <div class="form-group1">
                    <label>Mô tả</label>
                    <textarea class="read" id="problemDes" readonly>nó đánh em</textarea>
                </div>

                <hr style="color: black; margin-right: 30px; margin-bottom: 10px">

                <div></div>

                <div class="form-group1">
                    <label>Phản hồi từ Admin</label>
                    <textarea class="read" id="reply" readonly style="height: 100px">anh xử nó rồi em</textarea>
                </div>

            </div>
        </div>
    </div>
</body>
</html>