<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/sidebarNoti.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    <!-- Thêm thư viện SockJS và Stomp -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div class="sidebar">
    <b class="title">Tài khoản</b>
    <div class="accInfo">
        <div class="accName">
            <img id="avatar" src="../../static/images/icons/avatar.png" alt="">
            <div id="username">Username</div>
        </div>
        <div class="coin">
            <img src="../../static/images/icons/wallet.png" alt="">
            <div id="point">999 xu</div>
        </div>
    </div>
    <hr>
    <div class="menu">
        <a href="upload.html" class="menu-row">
            <img src="../../static/images/icons/Import Pdf.png" alt="">
            <div>Tải lên</div>
        </a>
        <a href="accManage.html" class="menu-row">
            <img src="../../static/images/icons/Registration.png" alt="">
            <div>Quản lí tài khoản cá nhân</div>
        </a>
        <a href="pdfManage.html" class="menu-row">
            <img src="../../static/images/icons/Folder.png" alt="">
            <div>Quản lí tài liệu</div>
        </a>
        <a href="downHistory.html" class="menu-row">
            <img src="../../static/images/icons/Downloads Folder.png" alt="">
            <div>Lịch sử tải xuống</div>
        </a>
        <a href="problemReport.html" class="menu-row">
            <img src="../../static/images/icons/Help.png" alt="">
            <div>Báo cáo vấn đề</div>
        </a>
        <a href="reportManage.html" class="menu-row">
            <img src="../../static/images/icons/Activity History.png" alt="">
            <div>Lịch sử báo cáo</div>
        </a>
    </div>
    <hr>
    <div class="logout">
        <a class="logout-button" onclick="window.logoutHandler()">
            <img src="../../static/images/icons/Logout.png" alt="">
            <div>Đăng xuất</div>
        </a>
    </div>

    <script type="module">
        import { PersonalInfo, logout } from '../../static/js/User/sidebar.js';

        // Khởi tạo thông tin cá nhân
        document.addEventListener('DOMContentLoaded', function() {
            PersonalInfo();

            // Gắn hàm logout vào window object để có thể gọi từ onclick
            window.logoutHandler = logout;
        });
    </script>
</body>
</html>