<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng tải tài liệu</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">

    <script defer src="../../static/js/User/include.js"></script>
    <script src="../../static/js/User/form.js"></script>


    <link rel="stylesheet" href="../../static/css/form.css">
    <link rel="stylesheet" href="../../static/css/userManage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>

</head>
<body>
    <div id="header-placeholder"></div>
    <div class="contain">
        <div id="sidebar-placeholder">
        </div>
        <div class="main-content">
            <div class="thumnail3">
                <div class="thumnail-cap">Tải lên</div>
            </div>
            <div class="main">
                <form action="" name="upload" id="uploadForm">
                    <div class="form-group1">
                        <label for="docstitle">Tiêu đề</label>
                        <textarea name="" id="docstitle" placeholder="Nhập tiêu đề thật sang..."></textarea>
                    </div>
                    <div class="error"></div>
                    <div class="form-group2" id="file-group">
                        <label class="alt name-title">Tệp tài liệu</label>
                        <div class="group3">
                            <label for="file" id="alter-file">
                                Chọn file từ máy của bạn
                                <img src="../../static/images/icons/Folder.png" alt="?">
                            </label>
                            <div id="fileName"></div>
                        </div>
                        <input type="file" name="file" id="file" style="display: none;" onchange="updateFileName()">

                    </div>
                    <div class="error"></div>
                    <div class="form-group2">
                        <label for="" class="name-title">Danh mục</label>
                        <select name="category" id="folderSelectUser">
                            <option value="">Chọn danh mục</option>
<!--                            <option value="">Đại học</option>-->
<!--                            <option value="">Trung học</option>-->
                        </select>
                    </div>
                    <div class="error"></div>
                    <div class="form-group2">
                        <label for="" class="name-title">Phân loại</label>
                        <select name="group" id="groupSelectUser">
                            <option value="">Chọn phân loại</option>
<!--                            <option value="">Công nghệ thông tin</option>-->
<!--                            <option value="">Toán</option>-->
                        </select>
                        <div class="error"></div>
                    </div>
                    <div class="form-group1">
                        <label for="describe">Mô tả</label>
                        <textarea name="" id="describe" placeholder="Mô tả rõ ràng..."></textarea>
                        <div class="error"></div>
                    </div>
                    <div class="form-group2">
                        <label for="" class="name-title">Trả phí</label>
                        <select name="pay" id="">
                            <option value="0">Không</option>
                            <option value="10">Có</option>
                        </select>
                    </div>
                    <div class="error"></div>
                    <div class="form-group2">
                        <label for="documentAvatar" class="form-label">Chọn ảnh bìa</label>
                        <select class="form-control" id="documentAvatar" required>
                            <option value="Ảnh bìa 1.jpg">Ảnh bìa 1</option>
                            <option value="Ảnh bìa 2.jpg">Ảnh bìa 2</option>
                            <option value="Ảnh bìa 3.jpg">Ảnh bìa 3</option>
                            <option value="Ảnh bìa 4.jpg">Ảnh bìa 4</option>
                            <option value="Ảnh bìa 5.jpg">Ảnh bìa 5</option>
                            <option value="Ảnh bìa 6.jpg">Ảnh bìa 6</option>
                            <option value="Ảnh bìa 7.jpg">Ảnh bìa 7</option>
                            <option value="Ảnh bìa 8.jpg">Ảnh bìa 8</option>
                            <option value="Ảnh bìa 9.jpg">Ảnh bìa 9</option>
                        </select>
                    </div>
                    <div class="submit" id="uploadFile">
                        <button type="button" onclick="uploadDocument()">Đăng tải</button>
                    </div>
                </form>
                <div id="pdfview">
                    <div class="center-text">PDF BẠN TẢI LÊN SẼ ĐƯỢC HIỂN THỊ Ở ĐÂY</div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="module" src="../../static/js/User/upload.js"></script>
</html>