.error{
    color: rgb(200, 0, 0);
    padding-top: 3px;
}

#uploadForm{
    padding: 0px 20px;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

#uploadForm .form-group2, #uploadForm .form-group1{
    padding-top: 14px;
    width: 100%;
}

#uploadForm select{
    width: 250px;
}

.form-group1, .form-group2{
    padding-top: 16px;
}

.form-group1{
    display: flex;
    flex-direction: column;
}

.form-group2{
    display: flex;
    gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.form-group1 label, .form-group2 label{
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

.form-group1 label {
    padding-bottom: 5px;
}

input[type='file']{
    display: none;
}

#alter-file{
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px 12px;
    font-weight: normal;
    flex-grow: 0;
    width: auto;
}

#alter-file2{
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #D82B8A;
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: normal;
    color: white;
    cursor: pointer;
}

#alter-file img{
    border-left: 2px solid #A5A5A5;
    padding-left: 10px;
    margin: -8px 0px;
    margin-left: 10px;
    height: 35px;
}

.form-group1 select, .form-group2 select{
    background-color: #D82B8A;
    color: white;
    padding: 8px 0px 8px 10px;
    border-radius: 10px;
    border: none;
    min-width: 150px;
    width: 15vw;
    font-size: 15px;
}

.group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group1 textarea{
    border-radius: 10px;
    padding: 10px;
    min-height: 40px;
    width: calc(100% - 20px);
    resize: none;
    border: 1px solid #121212;
}
#describe {
    min-height: 70px;
}
#price{
    padding: 10px;
    border-radius: 10px;
    width: 245px;
    padding-right: 15%;
    border: 1px solid black;
}
.unit{
    background-color: white;
    border: 0.5px solid black;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 9px 12px;
    position: relative;
    right: 14%;
    height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.inputprice{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    min-width: 150px;
}
input[type='submit'], .submit button{
    background-color: #166FF4;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}
.submit{
    text-align: center;
}
#problemDes {
    height: 150px;
}

.changeAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

#ava{
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
}

#ava img{
    height: 7vw;
    width: auto;
    min-height: 100px;
}

#read-class{
    padding-bottom: 0px;
    width: 100%;
}

.static {
    white-space: nowrap;
    width: 5vw;
    min-width: 70px;
}

.label {
    font-size: 20px;
    font-weight: bold;
}

.form-group2 a {
    background-color: #D82B8A;
    padding: 8px 12px;
    border-radius: 10px;
    color: white;
}

.accInfo1{
    padding: 0px 50px;
    padding-bottom: 20px;
}

#acc{
    padding-right: 0px;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#changeAvatarSubmit{
    margin: 0px;
    background-color: #D82B8A;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
    border-radius: 10px;
    min-height: 40px;
    height: 3vh;
    font-size: 17px;
    border: 1px solid black;
    padding: 0px 10px;
    box-sizing: border-box;
}

#pass{
    border: 0px;
    width: 53%;
}

input[type="number"] {
    white-space: nowrap;       /* Không cho phép xuống dòng */
    overflow: hidden;          /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis;   /* Thêm dấu "..." nếu vượt quá chiều rộng */
    width: 200px;              /* Đặt chiều rộng cố định */
    box-sizing: border-box;    /* Tính toán padding và border trong width */
}

#mail {
    white-space: nowrap;       /* Không cho phép xuống dòng */
    overflow: hidden;          /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis;   /* Thêm dấu "..." nếu vượt quá chiều rộng */
    box-sizing: border-box;
    width: 75%;
}

input[readonly] {
    outline: none;
    margin: 0px;            /* Không hiển thị outline khi focus */
}

select[disabled] {
    outline: none;
    margin: 0px;
    background-color: #d9d9d9;/* Không hiển thị outline khi focus */
    color: black;
    opacity: 100%;
    appearance: none;
    -webkit-appearance: none; /* Dành cho các trình duyệt WebKit */
    -moz-appearance: none;    /* Dành cho Firefox */
    height: 40px;
    font-size: 16px;
    padding-left: 15px;
}

#infoChange select{
    background-color: #d9d9d9;/* Không hiển thị outline khi focus */
    color: black;
    opacity: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 15px;
}

.ChangeTitle{
    margin: 5px 0px;
    color: #D82B8A;
}

#mailAndPass{
    float: right;
    margin-right: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    width: 30vw;
}


@media (max-width: 1400px) {
    #pass{
        flex-grow: 1;
    }
    #mail{
        flex-grow: 1;
    }
}

@media (max-width: 1280px) {
    #pass{
        flex-grow: 1;
    }
    #mail{
        flex-grow: 1;
    }
}

#OTP-title{
    text-align: center;
    margin: 0px 10px;
    font-family: Inter, sans-serif;
    margin-bottom: 9px;
    margin-top: 0px;
    font-size: 15px;
    color: #656565;
}

#OTP{
    margin: 0px 15px;
    border-radius: 5px;
    text-align: center;
}

#otp-resend{
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
}

#otp-resend a{
    color: #0000DB;
    font-size: 13px;
}

.name-title{
    min-width: 94px;
}

@media (max-width: 1000px) {
    .group {
        padding-right: 0px;
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .group {
        flex-wrap: nowrap;
    }
}

#problemForm{
    padding: 0px 50px;
}

#infoChange{
    float: left;
    margin-right: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    width: 30vw;
}

@media (max-width: 1350px) {
    #acc{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    #mailAndPass, #infoChange{
        width: 40vw;
    }
    #mail {
        white-space: nowrap;       /* Không cho phép xuống dòng */
        overflow: hidden;          /* Ẩn nội dung vượt quá chiều rộng */
        text-overflow: ellipsis;   /* Thêm dấu "..." nếu vượt quá chiều rộng */
        box-sizing: border-box;
        width: 75%;
    }
    #pass{
        border: 0px;
        width: 40%;
    }
}

@media (max-width: 900px) {
    #acc{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    #mailAndPass, #infoChange{
        width: 40vw;
    }
    #mailAndPass .form-group2, #infoChange .form-group2{
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    #mail {
        white-space: nowrap;       /* Không cho phép xuống dòng */
        overflow: hidden;          /* Ẩn nội dung vượt quá chiều rộng */
        text-overflow: ellipsis;   /* Thêm dấu "..." nếu vượt quá chiều rộng */
        box-sizing: border-box;
        width: 75%;
    }
    #pass{
        border: 0px;
        width: 40%;
    }
}

@media (max-width: 800px) {
    #acc{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    #mailAndPass, #infoChange{
        width: 50vw;
    }
    #mailAndPass .form-group2, #infoChange .form-group2{
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    #mail {
        white-space: nowrap;       /* Không cho phép xuống dòng */
        overflow: hidden;          /* Ẩn nội dung vượt quá chiều rộng */
        text-overflow: ellipsis;   /* Thêm dấu "..." nếu vượt quá chiều rộng */
        box-sizing: border-box;
        width: 75%;
    }
    #pass{
        border: 0px;
        width: 40%;
    }
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4E4E;
}

.close-btn {
    background-color: red;
    border: none;
    font-size: 22px;
    color: white;
    padding: 0px 6px 0px 6px;
    border-radius: 5px;
}

.popup-header h3 {
    margin: 0;
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
    padding-left: 30px;
    text-transform: uppercase;
}

#otp-popup, #pass-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    background-color: #fff;
    border-radius: 8px;
    padding: 25px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#OTP-submit{
    margin: 0px 15px;
    margin-top: 5px;
    border-radius: 5px;
    width: calc(100% - 30px);
}

#pdfview{
    width: 25vw;
    margin-top: 20px;
    height: calc(100vh - 160px);
    background-color: #ececec;
}

.center-text {
    display: flex;           /* Sử dụng Flexbox */
    justify-content: center; /* Canh chỉnh theo chiều ngang */
    align-items: center;     /* Canh chỉnh theo chiều dọc */
    height: 100%;           /* Chiều cao của div */
    color: #8e8e8e;
    box-shadow: inset 0px 0px 20px #888888;
    border: 2px solid #ececec;
    font-size: 0.8em;
}

input[type='date']:read-only{
    border: none;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 4px solid #f3f3f3; /* Màu nhạt */
    border-top: 4px solid #3498db; /* Màu xoay */
    border-radius: 50%;
    margin: 10px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 0.5s ease-out;
}

button#OTP-submit.loading::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -20px;
    border: 3px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 0.8s linear infinite;
    transform: translate(-50%, -50%);
}

button#OTP-submit.loading{
    padding-left: -40px;
}

/* Hiệu ứng xoay */
@keyframes spin2 {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#success-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: rgba(255,255,255);
    border-radius: 8px;
    padding: 30px 40px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.read{
    padding: 10px 15px;
    background-color: #d9d9d9;
    border-radius: 8px;
    min-width: 100px;
    max-width: none;
    border: 0px;
    flex-grow: 1;
    font-size: 17px;
}

#info-form .form-group2 .static{
    min-width: 88px;
}

.form-btitle{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    color: #3b82f6;
}

.form-stitle{
    text-align: center;
    margin-bottom: 20px;
}

#info-form {
    margin: 0px auto;
    margin-bottom: 20px;
}

.welcome{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.welcome-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.welcome-text{
    font-size: 15px;
}

.success-icon {
    position: relative;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin-top: -90px;
}

.circle {
    position: absolute;
    top: 50%; /* Đặt vị trí bắt đầu */
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 120px;
    height: 120px;
    background-color: #0074ed;
    border-radius: 50%;
    animation: circle-grow-move 0.6s ease-in-out forwards;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 60px;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    border-right: 10px solid #fff;
    border-bottom: 10px solid #fff;
    animation: checkmark-draw 0.4s ease-out 0.6s forwards;
}

/* Animation cho vòng tròn */
@keyframes circle-grow-move {
    0% {
        transform: translate(-50%, 50%) scale(0); /* Bắt đầu nhỏ và thấp */
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* To lên và di chuyển lên trên */
    }
}

/* Animation cho dấu check */
@keyframes checkmark-draw {
    0% {
        transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
}

#avatarContain {
    margin-top: 10px;
}

#center{
    justify-content: center;
    align-items: center;
}

#in-ava{
    margin-bottom: 10px;
}

.avatar-options img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}
.avatar-options img:hover {
    border-color: #007bff;
}

.avatar-options .selected {
    border-color: #28a745 !important;
}

#changeAvatarButton{
    background-color: #D82B8A;
    padding: 10px 12px;
    color: white;
    border: none;
    border-radius: 10px;
    max-width: 100px;
    margin: 0px auto;
}

#outside {
    justify-content: space-evenly;
}

#avatarContain{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    background-color: #fbfbfb;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gainsboro;
}