.sidebar{
    font-family: Inter;
    padding: 10px;
    max-height: 79vh;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 400px;
    padding-right: 20px;
}
.title{
    font-size: x-large;
    font-weight: 900;
    margin-left: -5px;
}
a{
    text-decoration: none;
}
.accInfo{
    margin-top: 1.5vh;
    display: flex;
    justify-content: space-between;
    width: 94%;
}
.accName, .coin{
    display: flex;
    align-items: center;
}
.accName>img, .coin>img{
    width: 10vh;
    min-width: 35px;
    max-width: 70px;
}
.accName>img{
    border-radius: 50%;
    padding-right: 5px;

}
.accName>div, .coin>div{
    font-weight: bold;
    color: #585858;
    font-size: large;
    white-space: nowrap;
}
#username{
    max-width: 9vw;
    white-space: nowrap;       /* Không cho phép xuống dòng */
    overflow: hidden;          /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis;   /* Thêm dấu "..." nếu vượt quá chiều rộng */
    box-sizing: border-box;
}
.menu-row{
    display: flex;
    align-items: center;
    margin-left: 7%;
    color: #686868;
    font-weight: bold;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
    max-height: 400px;
}
.menu-row img{
    padding-right: 2.5%;
    width: 4vh;
    min-width: 30px;
    max-width: 40px;
    height: fit-content;
}
hr{
    margin: 3vh 1vh;
}
.logout{
    display: flex;
    justify-content: center;  /* Căn giữa theo chiều ngang */
}
.logout-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    color: white;
    border-radius: 10px;
    padding: 5px 12px;
    white-space: nowrap;
    width: fit-content;
    float: center;
}
.logout-button>img{
    padding-right: 5%;
    width: 30px;
    height: auto;
}

.noti{
    padding: 0px 3px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.oneNotiBox{
    border: 1px solid #bababa;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
}

#pink{
    padding-bottom: 10px;
    margin-left: -7px;
}

.h-group{
    display: flex;
    align-items: center;
    gap: 8px;
}

.h-group img{
    height: 30px;
    margin-right: -3px;
}

.noti-title{
    font-size: large;
    font-weight: bold;
    font-size: 18px;
}

.noti-content{
    padding: 10px 25px;
    text-align: justify;
    font-size: 13px;
}

.d-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i-group{
    display: flex;
    align-items: center;
}

.i-group img{
    margin-right: 2px;
    width: 16px;
}

.noti-time{
    font-size: 12px;
}

.d-group a{
    color: #D82B8A;
    font-size: 12px;
    font-weight: bold;
}

.menu a:hover{
    color: #D82B8A;
}

.menu a:hover img {
    transform: scale(1.1); /* Phóng to khi hover */
    transition: 0.3s; /* Thêm hiệu ứng mượt */
}

#imp:hover img{
    content: url('../../static/images/icons/Import-Pdf-pink.png');
}

#regis:hover img{
    content: url('../../static/images/icons/Registration-pink.png');
}

#pdfManage:hover img{
    content: url('../../static/images/icons/Folder-pink.png');
}

#DHis:hover img{
    content: url('../../static/images/icons/Downloads-Folder-pink.png');
}

#pReport:hover img{
    content: url('../../static/images/icons/Help-pink.png');
}

#reManage:hover img{
    content: url('../../static/images/icons/Activity-History-pink.png');
}